name: CI

on:
  push:
    branches: 
      - main
      - dev
      
  #workflow_dispatch
  # Allows you to run this workflow manually from the Actions tab
  
jobs:
  
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: |
          echo building app
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Run a one-line script
        run: |
          echo test app
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Run a one-line script
        run: |
          echo deploy app


